* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, helvetica, sans-serif;
  font-size: 62.5%;
  background-color: #e9ebee;
}

section {
  width: 750px;
  padding: 15px;
  margin: 0 auto;
  clear: both;
}
section h2 {
  text-align: center;
  margin-top: 0px;
  font-size: 22px;
  color: #3b5998;
}
@media only screen and (max-width: 455px) {
  section h2 {
    font-size: 18px;
  }
}
section header {
  text-align: center;
}
section header h1 {
  font-size: 26px;
  color: #3b5998;
}
@media only screen and (max-width: 455px) {
  section header h1 {
    font-size: 22px;
  }
}
section article {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
section article div.input-box {
  width: 50%;
}
@media only screen and (max-width: 455px) {
  section article div.input-box {
    width: 100%;
  }
}
section article div.input-box select {
  width: 97%;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 455px) {
  section article div.input-box select {
    width: 100%;
  }
}
section article div.box1 {
  order: -1;
}
section article div.box2 {
  order: 0;
}
section #main {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
section #main article {
  margin: 0 auto;
  display: block;
}
section #main article .inputs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media only screen and (max-width: 455px) {
  section #main article .inputs {
    flex-direction: column;
  }
}
section #main .button-section {
  width: 100%;
}
section #main .button-section legend {
  font-size: 14px;
  display: none;
}
section #main .button-section button {
  margin-top: 10px;
  width: 98.5%;
  background-color: #3b5998;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  padding: 7px 10px;
  cursor: pointer;
}
section #main .button-section button.button-disabled {
  pointer-events: none;
  background-color: #d3d3d3;
}
@media only screen and (max-width: 455px) {
  section #main .button-section button {
    width: 100%;
  }
}
section.result-box h2 {
  margin-top: 0px;
  text-align: center;
}
section.result-box .result {
  width: 100%;
  margin: 0 auto;
  float: left;
  display: block;
}
section.result-box .result .weather-day {
  width: 30%;
  min-height: 145px;
  padding: 10px;
  margin: 10px;
  float: left;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  font-size: 14px;
}
section.result-box .result .weather-day h3 {
  margin-top: 0px;
}
@media only screen and (max-width: 660px) {
  section.result-box .result .weather-day {
    width: 45%;
  }
}
@media only screen and (max-width: 455px) {
  section.result-box .result .weather-day {
    width: 95%;
    min-height: inherit;
  }
}
section.result-box .result-min-max {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  float: left;
}
section.result-box .result-min-max .temp {
  width: 49%;
  float: left;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  font-weight: bold;
}
@media only screen and (max-width: 660px) {
  section.result-box .result-min-max .temp {
    font-size: 14px;
  }
}
@media only screen and (max-width: 455px) {
  section.result-box .result-min-max .temp {
    float: none;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
  }
}
section.result-box .result-min-max .temp-max {
  margin-left: 1%;
}
@media only screen and (max-width: 660px) {
  section.result-box .result-min-max .temp-max {
    margin-left: 0;
  }
}
section.chart-section {
  padding-right: 30px;
  padding-left: 25px;
}
@media only screen and (max-width: 768px) {
  section {
    width: 100%;
  }
}

.chart {
  padding: 15px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.save-favorite {
  font-size: 14px;
}

/*# sourceMappingURL=../style.css.map */
